<div class="btn-back">back</div>
<div class="app-topbar">
    顶部
</div>
<div id="factory" class="app-content">
    <div class="nav">
        <ul>
            <li>
                <i class="icon current"></i>

                <div>首页</div>
            </li>
            <li><i class="icon data"></i>

                <div>厂家信息</div>
            </li>
            <li><i class="icon product"></i>

                <div>产品展示</div>
            </li>
            <li><i class="icon power"></i>

                <div>厂家实力</div>
            </li>
            <li><i class="icon area"></i>

                <div>空白区域</div>
            </li>
        </ul>
    </div>
    <div class="message">
        <div class="prompt h">我的此品牌感兴趣，我想加盟和了解更多</div>
        <div class="prompt">企业温馨提示：您的留言我们会第一时间反馈！</div>
        <div class="form"><i>*姓名：</i><input type="text" name="" placeholder="如 王先生"></div>
        <div class="form"><i>*手机：</i><input type="text" name="" placeholder="如 13575695737"></div>
        <div class="form"><i>留言：</i><input type="text"  name="" placeholder="我对此项目很感兴趣，请联系我们。"></div>
        <div class="button">提交留言</div>
    </div>
    <!--页脚-->
    <div class="app-section merchant-footer">
        <p>①2015 浙B2-20050229-3 用户反馈中心</p>
        <img src="images/bottom-logo.png" alt="手机 3月30日">

        <div><strong>足不出户逛展会</strong></div>
    </div>

</div>
