<div class="app-logo-container app-topbar">
    <div class="grid-3">
        <div class="app-button app-back go-back app-btn">返回</div>
    </div>
    <div class="grid-4 topbar-title" style="text-align: right; height: 100%;">
        3.30{{title}}
    </div>
    <div class="grid-3">
        <div class="app-button btn-category app-btn">分类</div>
    </div>
</div>

<div class="app-content merchant-cont-container">

</div>
    <!--页脚-->
<div class="app-section merchant-footer">
        <p>①2015 浙B2-20050229-3 用户反馈中心</p>
        <img src="images/bottom-logo.png" alt="手机 3月30日"/>

        <div><strong>足不出户逛展会</strong></div>
    </div>
<div class="app-bottombar">
    <div class="bottombar-cover"></div>
    <div class="bottombar">
        <ul class="bottombar-ul">
        </ul>
    </div>
</div>