<div id="factory">
    <div class="app-logo-container  app-topbar" style="height: 86px;">
        <div class="header">
            <a class="fl go-back app-btn" href="javascript:void(0)">返回</a>
            <img class="fl logo" src="images/logo.jpg" alt="330门业招商节">

            <div class="fr hall">展馆</div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="app-content">

        <div id="include_header"></div>
        <div class="content">
            <img src="{{CONST 'PIC_URL'}}/{{back_img}}" alt=""/>
        </div>
        <div class="message">

        </div>
        <!--页脚-->
        <div class="app-section merchant-footer">
            <p>①2015 浙B2-20050229-3 用户反馈中心</p>
            <img src="images/bottom-logo.png" alt="手机 3月30日">

            <div><strong>足不出户逛展会</strong></div>
        </div>

    </div>
