<div id="factory" class="app-content">
    <div class="header">
        <a class="fl go-back" href="javascript:void(0)">返回</a>
        <img class="fl logo" src="images/logo.jpg" alt="330门业招商节">

        <div class="fr hall">展馆</div>
        <div class="clear"></div>
    </div>
    <div class="prolist">
        <a class="hong a001" href="javascript:void(0)">品牌展示馆</a><a class="a002" href="javascript:void(0)">防盗门馆</a><a
            class="a003" href="javascript:void(0)">铜门/不锈钢门馆</a>
        <a class="hong a001" href="javascript:void(0)">特色门馆</a><a class="a002" href="javascript:void(0)">非标门馆</a><a
            class="a004" href="javascript:void(0)">木门馆</a><a class="a004" href="javascript:void(0)">钢木门馆</a>
        <a class="hong a001" href="javascript:void(0)">铝合金门馆</a><a class="a002" href="javascript:void(0)">防火门馆</a><a
            class="hong a003" href="javascript:void(0)">生态木门/强化门馆</a>

        <div class="clear"></div>
    </div>
    <div class="factory_logo"><img src="images/factory_logo.jpg" alt="330门业招商节"></div>
    <div class="factory_banner"><img src="images/factory_banner.jpg" alt="330门业招商节"></div>
    <div class="nav x">
        <ul>
            <li>
                <i class="icon"></i>

                <div>首页</div>
            </li>
            <li><i class="icon data current"></i>

                <div>厂家信息</div>
            </li>
            <li><i class="icon product"></i>

                <div>产品展示</div>
            </li>
            <li><i class="icon power"></i>

                <div>厂家实力</div>
            </li>
            <li><i class="icon area"></i>

                <div>空白区域</div>
            </li>
        </ul>
    </div>
    <div class="company x">
        <div class="name">企业名称：武义亿智工贸有限公司</div>
        <div class="certificate">
            <div class="zs">工商认证：</div>
            <div class="zs"><img src="images/zs1.jpg"></div>
            <div class="zs z"><img src="images/zs2.jpg"></div>
        </div>
        <div class="data">
            <ul>
                <li>注册资金：100万</li>
                <li class="number">员工人数：200-500人</li>
                <li class="area">厂房面积：10000平米</li>
                <li class="production">年产量：50000多樘</li>
                <li class="product"><p class="l">主营产品：</p>

                    <P class="r">钢木门、防盗门、木门、不锈钢门、卫浴门、防火门、非标门</P></li>
            </ul>
        </div>
        <div class="prompt">此品牌已加入3·30经销商合作保障计划</div>
    </div>

    <div class="introduce x">
        <div class="title_general"><p>公司简介</p><p class="open">展开</p></div>
        <div class="detailed_general">
            武义亿智工贸有限公司座落于盛名五洲的有着“中国门都”之称——浙江，公司正式成立木门生产基地前，公司是一家集：“研发、生产、销售、服务”为一体的中国大型高科技门业生产制造企业。是永康最早最大的钢木门生产厂家。包括钢木室内门、防盗安全门、高档别墅大门、防火门等产品，发展至今，其市场营销网络已遍布全......<span class="lan">[查看更多请点展开]</span>
        </div>

    </div>

    <div class="policy x">
        <div class="title_general"><p>招商政策</p><p class="shut">收起</p></div>
        <div class="detailed_general">
            武义亿智工贸有限公司座落于盛名五洲的有着“中国门都”之称——浙江，公司正式成立木门生产基地前，公司是一家集：“研发、生产、销售、服务”为一体的中国大型高科技门业生产制造企业。是永康最早最大的钢木门生产厂家。包括<span class="lan">[查看更多请点展开]</span>
        </div>

    </div>


    <div class="message">
        <div class="prompt h">我的此品牌感兴趣，我想加盟和了解更多</div>
        <div class="prompt">企业温馨提示：您的留言我们会第一时间反馈！</div>
        <div class="form"><i><span>*</span>姓名：</i><input type="text" name="" placeholder="如 王先生"></div>
        <div class="form"><i><span>*</span>手机：</i><input type="text" name="" placeholder="如 13575695737"></div>
        <div class="form"><i>留言：</i><input type="text" name="" placeholder="我对此项目很感兴趣，请联系我们。"></div>
        <div class="button">提交留言</div>
    </div>
    <!--页脚-->
    <div class="app-section merchant-footer">
        <p>①2015 浙B2-20050229-3 用户反馈中心</p>
        <img src="images/bottom-logo.png" alt="手机 3月30日">

        <div><strong>足不出户逛展会</strong></div>
    </div>

</div>
