<li data-url="home" class="app-btn" style="width: 18%;">
    <span class="icon-bg icon-bottombar-home"></span>
    <span class="bottombar-text">首页</span>
    <span class="icon-bg icon-bottombar-sep"></span>
</li>
<li data-url="search" class="app-btn" style="width: 24%;">
    <span class="icon-bg icon-bottombar-login"></span>
    <span class="bottombar-text">联系我们</span>
    <span class="icon-bg icon-bottombar-sep"></span>
</li>
<li data-url="register_dealers" class="app-btn" style="width: 24%;">
    <span class="icon-bg icon-bottombar-login"></span>
    <span class="bottombar-text">意向合作</span>
    <span class="icon-bg icon-bottombar-sep"></span></li>
<li data-url="register_dealers" class="app-btn" style="width: 16%;">
    <span class="icon-bg icon-bottombar-login"></span>
    <span class="bottombar-text">短信</span>
    <span class="icon-bg icon-bottombar-sep"></span></li>
<li data-url="register_dealers" class="app-btn" style="width: 18%;">
    <span class="icon-bg icon-bottombar-collect"></span>
    <span class="bottombar-text">收藏</span></li>