<div id="product-detail">
    <div class="btn-back">返回</div>
</div>

<div class="app-section">
    <div class="category-title">
        <div class="cate-item category-zg current">
            基本信息
        </div>
        <div class="cate-item category-pro">
            商品详情
        </div>
        <div class="app-button category-close icon-bg" data-back></div>
    </div>
</div>
<div id="factory" class="app-content">
    <div class="app-section bs relative">
        <div class="cate-item-sub cate-item-sub-0 cate-cur">
            <div class="img_product">
                <div class="img"><img src="http://www.11door.com/shiyan/111.jpg"></div>
<div class="txt">王力门 室内门 复合实木门 白色免漆门</div>
                <div class="collection">
                    <div class="td">产品特点：【价格】包含门扇和门套，不含锁具和运费、安装等服务。【专注】我们只做门，门扇和门套，不含锁具和运费、安装等</div>
<div class="sc"><p>收藏</p></div>
                </div>
            </div>
            <div class="data_product">
                <ul>
                    <li><p>产品型号：0806890</p>

                        <p class="mid">产品规格：2200*900*300</p>

                        <p>价格区间：1000元~2000元</p>
                    </li>
                    <li class="r"><p>品牌名称：王力</p>

                        <p class="mid">产地：浙江省永康市</p>

                        <p>产品类别：木门</p>
                    </li>
                </ul>
                <div class="cn">服务承诺： 按时发货、T4 售后无忧、T3 极速退款 、七天无理由退换阿斯蒂芬阿斯顿发斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬发送到发斯蒂芬 </div>
            </div>
        </div>
        <div class="cate-item-sub cate-item-sub-1">
            商品详情
        </div>
    </div>

    <div class="product_other">
        <div class="title">该厂家其他产品</div>

    </div>
</div>
