<div id="factory">
    <div class="header">
        <a class="fl go-back" href="javascript:void(0)">返回</a>
        <img class="fl logo" src="images/logo.jpg" alt="330门业招商节">

        <div class="fr hall">展馆</div>
        <div class="clear"></div>
    </div>
    <div class="prolist">
        <a class="hong a001" href="javascript:void(0)">品牌展示馆</a><a class="a002" href="javascript:void(0)">防盗门馆</a><a
            class="a003" href="javascript:void(0)">铜门/不锈钢门馆</a>
        <a class="hong a001" href="javascript:void(0)">特色门馆</a><a class="a002" href="javascript:void(0)">非标门馆</a><a
            class="a004" href="javascript:void(0)">木门馆</a><a class="a004" href="javascript:void(0)">钢木门馆</a>
        <a class="hong a001" href="javascript:void(0)">铝合金门馆</a><a class="a002" href="javascript:void(0)">防火门馆</a><a
            class="hong a003" href="javascript:void(0)">生态木门/强化门馆</a>
        <div class="clear"></div>
    </div>
    <div class="factory_logo"><img src="images/factory_logo.jpg" alt="330门业招商节"></div>
    <div class="factory_banner"><img src="images/factory_banner.jpg" alt="330门业招商节"></div>
</div>


<!--页脚-->
<div class="app-section merchant-footer">
    <p>①2015 浙B2-20050229-3 用户反馈中心</p>
    <img src="images/bottom-logo.png" alt="手机 3月30日"/>

    <div><strong>足不出户逛展会</strong></div>
</div>
</div>
