<div id="my" class="app-content login_dealers">
    <div class="top app-section">
        <div class="wrap">
            <div class="btn-back app-button">返回</div>
            <div class="title" data-back>我的代金卷</div>
        </div>
    </div>
    <div class="messages">
        <ul class="money">
            <li>
                <div class="name"><span>1</span>代金券编号：DF98khf2L98</div>
                <div class="state"><div class="zt">使用状态：<span class="l">已使用</span></div><div class="ck">查看详情</div></div>
                <div> 使用对象：浙江亿智工贸有限公司</div>
                <div>使用日期：2015-3-30 12:11:34</div>
                <div>是否生效：<span class="h">未审核通过</span></div>
                <div>购买日期：2015-3-1 11:11:23</div>
            </li>
            <li>
                <div class="name"><span>2</span>代金券编号：DF98khf2L98</div>
                <div class="state"><div class="zt">使用状态：<span>未使用</span></div></div>
                <div>购买日期：2015-3-1 11:11:23</div>
            </li>
            <li>
                <div class="name"><span>3</span>代金券编号：DF98khf2L98</div>
                <div class="state"><div class="zt">使用状态：<span class="l">已使用</span></div><div class="ck">查看详情</div></div>
                <div> 使用对象：浙江亿智工贸有限公司</div>
                <div>使用日期：2015-3-30 12:11:34</div>
                <div>是否生效：<span class="l">已审核通过</span></div>
                <div>购买日期：2015-3-1 11:11:23</div>
            </li>
        </ul>
    </div>
    <div class="footer_mes">
        <ul>
            <li class="a"><p>我的资料</p>

                <p>我的留言</p></li>
            <li class="b"><p>我的产品搜藏</p>

                <p>我搜藏的品牌</p></li>
            <li class="c"><p>我的意向合作</p>

                <p>我的代金券</p></li>
            <li class="d">3·30门业招商节运营中心—上门网</li>
        </ul>
    </div>
</div>