<div id="my" class="app-content login_dealers">
    <div class="top app-section">
        <div class="wrap">
            <div class="btn-back app-button">返回</div>
            <div class="title" data-back>我的品牌收藏</div>
        </div>
    </div>
    <div class="product">
        <ul>
            <li>
                <div class="imgs">
                    <div class="ver_pic">
                        <img src="http://331.11door.com/uploads/images/20150121/103149960.jpg">
                    </div>
                </div>
                <div>名称：亿智木门</div>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="footer_mes">
        <ul>
            <li class="a"><p>我的资料</p>

                <p>我的留言</p></li>
            <li class="b"><p>我的产品搜藏</p>

                <p>我搜藏的品牌</p></li>
            <li class="c"><p>我的意向合作</p>

                <p>我的代金券</p></li>
            <li class="d">3·30门业招商节运营中心—上门网</li>
        </ul>
    </div>
</div>