<div id="my" class="login_dealers">
    <div class="top app-section app-topbar">
        <div class="wrap">
            <div class="app-back btn-back app-btn">返回</div>
            <div class="title" data-back>厂家给我私信</div>
        </div>
    </div>
    <div class="messages app-content">
        <ul class="ly">
            <li>
                <div class="name"><span>1</span>私信厂家：浙江亿智工贸有限公司</div>
                <div class="detailed"><b>厂家私信内容：</b>您好，我是亿智工贸，我们厂生产的橡木门独一无二，本次对经销商支持力度也很大，现在加盟我们，有最好的优惠政策，如果您有兴趣，可以直接联系我们，或者给我们留言!</div>
                <div class="tel">联系电话：13626793933    联系人：周炎发</div>
                <div><div>我要和厂家合作</div><div>我要给厂家留言</div></div>
                <div class="time">留言时间：撒大声地</div>
            </li>
        </ul>
        <div class="clear"></div>
        <div class="footer_mes">
        </div>
    </div>
</div>