<div class="app-content login_dealers">
    <div class="top app-section app-topbar">
        <div class="wrap">
            <div class="app-back btn-back app-btn">返回</div>
            <div class="title" data-back>抵金券申领</div>
        </div>
    </div>
    <div class="wrap registered">
        <button id="getVch" type="submit">申领代金券</button>
        <div id="newvchs">你已拥有了<span id="hasvch">{{hasVch}}</span>张抵金券，还可以申领<span id="leftvch">{{leftVch}}</span>张。
            <a id="viewvch" href="javascript:void(0);">立刻查看></a>
        </div>
    </div>
    <div class="wrap note">
        <!-- <p><a href="#">我的收藏夹</a><a href="#">修改密码</a></p>-->
        <p>3·30门业招商节运营中心—上门网</p>
    </div>
</div>