<div class="top app-topbar">
    <div class="wrap app-section">
        <div class="btn-back app-back app-btn">返回</div>
        <div class="title" data-back>找回密码</div>
    </div>
</div>
<div class="app-content">
    <div class="wrap registered">
        <input type="text" id="phoneNum" class="mobile" placeholder="请输入11位手机号码"><br>
        <input type="text" class="mobile yzm" placeholder="请输入验证码"><div class="hqyzm">获取验证码</div><br>
        <input type="password" class="password" placeholder="请输入新密码"><br>
        <input type="password" class="password" placeholder="确认新密码"><br>
        <button id="userLogin" type="submit">提　交</button>
    </div>
    <div class="wrap note">
        <p>3·30门业招商节运营中心—上门网</p>
    </div>
</div>